src/main/resources/yrl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://webmaster.yandex.ru/schemas/feed/realty/2010-06">
    <xs:simpleType name="yesno">
        <xs:restriction base="xs:string">
            <xs:enumeration value="да"/>
            <xs:enumeration value="нет"/>
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="0"/>
            <xs:enumeration value="+"/>
            <xs:enumeration value="-"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="realty-feed">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="generation-date" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
                <xs:element name="offer">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="type" minOccurs="1" maxOccurs="1">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="продажа"/>
                                        <xs:enumeration value="аренда"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="property-type">
                                <!--
                                Тип недвижимости (только для жилой недвижимости).
                                Строго ограниченное значение — «жилая».
                                -->
                            </xs:element>
                            <xs:element name="category">
                                <!--
                                Категория объекта.
                                Возможные значения: «комната»/«room», «квартира»/«flat», «таунхаус»/«townhouse», «дом»/«house», «часть дома», «участок»/«lot», «земельный участок», «дом с участком»/«house with lot», «дача»/«cottage», «коммерческая»/«commercial».
                                -->
                            </xs:element>
                            <xs:element name="commercial-type">
                                <!--
                                Категория коммерческого объекта. Элемент может повторяться несколько раз, если у объекта есть различные возможные назначения.
                                Возможные значения: «auto repair» (автосервис), «business» (готовый бизнес), «free purpose» (помещения свободного назначения), «hotel» (гостиница), «land» (земли коммерческого назначения), «legal address» (юридический адрес), «manufacturing» (производственное помещение), «office» (офисные помещения), «public catering» (общепит), «retail» (торговые помещения), «warehouse» (склад).
                                -->
                            </xs:element>
                            <xs:element name="commercial-building-type">
                                <!--
                                Тип здания, в котором находится объект.
                                Возможные значения: «business center» (бизнес-центр), «detached building» (отдельно стоящее здание), «residential building» (встроенное помещение, жилой дом), «shopping center» (торговый центр), «warehouse» (складской комплекс).
                                -->
                            </xs:element>
                            <xs:element name="purpose">
                                <!--
                                Рекомендуемое назначение объекта. Элемент может повторяться несколько раз.
                                Возможные значения: «bank» (помещение для банка), «beauty shop» (салон красоты), «food store» (продуктовый магазин), «medical center» (медицинский центр), «touragency» (турагентство), «show room» (шоу-рум).
                                -->
                            </xs:element>
                            <xs:element name="purpose-warehouse">
                                <!--
                                Назначение склада. Элемент может повторяться несколько раз.
                                Возможные значения: «alcohol» (алкогольный склад), «pharmaceutical storehouse» (фармацевтический склад), «vegetable storehouse» (овощехранилище).
                                -->
                            </xs:element>
                            <xs:element name="url" minOccurs="1" maxOccurs="1">
                                <!--URL страницы с объявлением. Обязательный параметр для досок объявлений.-->
                            </xs:element>
                            <xs:element name="creation-date" type="xs:dateTime" minOccurs="1" maxOccurs="1">
                                <!--Дата создания объявления (в формате YYYY-MM-DDTHH:mm:ss+00:00) -->
                            </xs:element>
                            <xs:element name="last-update-date" type="xs:dateTime">
                                <!--Дата последнего обновления объявления (в формате YYYY-MM-DDTHH:mm:ss+00:00) -->
                            </xs:element>
                            <xs:element name="expire-date" type="xs:dateTime">
                                <!-- Дата и время, до которых объявление актуально (в формате YYYY-MM-DDTHH:mm:ss+00:00) -->
                            </xs:element>
                            <xs:element name="payed-adv" type="yesno">
                                <!-- Признак оплаченного объявления (только для досок объявлений) -->
                            </xs:element>
                            <xs:element name="manually-added" type="yesno">
                                <!-- Признак объявления, добавленного вручную (только для досок объявлений) -->
                            </xs:element>
                            <xs:element name="location" minOccurs="1" maxOccurs="1">
                                <!-- Набор элементов, описывающих местоположение объекта. Во вложенных тегах детализируется информация об адресе объекта. -->
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="country" minOccurs="1" maxOccurs="1">
                                            <!-- Страна, в которой расположен объект.
                                            Ограничение. Сейчас принимаются объявления только об объектах недвижимости, расположенных в России.
                                            -->
                                        </xs:element>
                                        <xs:element name="region">
                                            <!-- Название субъекта РФ (необязательно для Москвы и Санкт-Петербурга). -->
                                        </xs:element>
                                        <xs:element name="district">
                                            <!-- Название района субъекта РФ. -->
                                        </xs:element>
                                        <xs:element name="locality-name">
                                            <!-- Название населенного пункта. -->
                                        </xs:element>
                                        <xs:element name="sub-locality-name">
                                            <!-- Район населенного пункта. -->
                                        </xs:element>
                                        <xs:element name="address">
                                            <!-- Улица и номер дома. -->
                                        </xs:element>
                                        <xs:element name="direction">
                                            <!-- Шоссе (только для Москвы). -->
                                        </xs:element>
                                        <xs:element name="distance">
                                            <!-- Расстояние по шоссе до МКАД (только для Москвы). Указывается в километрах. -->
                                        </xs:element>
                                        <xs:element name="latitude">
                                        <!-- Географическая широта.  -->
                                        </xs:element>
                                        <xs:element name="longitude">
                                            <!-- Географическая долгота. -->
                                        </xs:element>
                                        <xs:element name="metro">
                                            <!-- Ближайшая станция метро (если таковых несколько, каждая должна быть указана в отдельном элементе). Во вложенных тэгах детализируется информация. -->
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="name">
                                                        <!-- Название станции метро. -->
                                                    </xs:element>
                                                    <xs:element name="time-on-transport">
                                                        <!-- Время до метро в минутах на транспорте. -->
                                                    </xs:element>
                                                    <xs:element name="time-on-foot">
                                                        <!-- Время до метро в минутах пешком. -->
                                                    </xs:element>
                                                    <xs:element name="railway-station">
                                                        <!-- Ближайшая ж/д станция (для загородной недвижимости). -->
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="sales-agent">
                                <!-- Информация о продавце или арендодателе -->
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name">
                                            <!-- Имя продавца, арендодателя или агента. -->
                                        </xs:element>
                                        <xs:element name="phone" minOccurs="1">
                                            <!--
                                            Контактный номер телефона (указывается в международном формате).
                                            Если номеров несколько, каждый из них необходимо передавать в отдельном элементе phone.
                                            Внимание! Для агентств недвижимости обязательно должны быть указаны прямые телефоны агентов.
                                            -->
                                        </xs:element>
                                        <xs:element name="category">
                                            <!-- Тип продавца или арендодателя. -->
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="владелец"/>
                                                    <xs:enumeration value="агентство"/>
                                                    <xs:enumeration value="застройщик"/>
                                                    <xs:enumeration value="owner"/>
                                                    <xs:enumeration value="agency"/>
                                                    <xs:enumeration value="developer"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="organization">
                                            <!-- Название организации. -->
                                        </xs:element>
                                        <xs:element name="agency-id">
                                            <!-- Внутренний ID агентства в базе партнера (только для досок объявлений). -->
                                        </xs:element>
                                        <xs:element name="url">
                                            <!-- Сайт агентства или застройщика. -->
                                        </xs:element>
                                        <xs:element name="email">
                                            <!-- Электронный адрес продавца. -->
                                        </xs:element>
                                        <xs:element name="photo">
                                            <!-- Ссылка на фотографию агента или логотип компании. -->
                                        </xs:element>
                                        <xs:element name="partner">
                                            <!-- Название партнера, предоставившего объявление (только для досок объявлений). -->
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="price">
                                <!-- Набор элементов, описывающих стоимость объекта. -->
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="value" minOccurs="1" maxOccurs="1">
                                            <!-- Цена (сумма указывается без пробелов).
                                            Внимание! Цена должна включать в себя НДС (если он есть) и постоянные эксплуатационные расходы (для коммерческой недвижимости).
                                            -->
                                        </xs:element>
                                        <xs:element name="currency">
                                            <!-- Валюта, в которой указана цена.
                                            Поддерживаемые значения:
                                             «RUR» или «RUB» — российский рубль.
                                             «EUR» — евро.
                                             «USD» — американский доллар.
                                            -->
                                        </xs:element>
                                        <xs:element name="unit">
                                            <!-- Единица площади помещения или участка. Элемент необходим, если цена
                                            указана за единицу площади.
                                            Рекомендуемые значения: «кв. м», «cотка», «гектар», «sq. m», «hectare».
                                            -->
                                        </xs:element>
                                        <xs:element name="period">
                                            <!-- Длительность аренды. Рекомендуемые значения: «день» или «day», «месяц» или «month». -->
                                        </xs:element>
                                        <xs:element name="taxation-form">
                                            <!-- Форма налогобложения арендодателя для аренды.
                                            Возможные значения:
                                            «НДС» (арендодатель — плательщик НДС),
                                            «УСН» (арендодатель работает по упрощенной системе налогообложения).
                                            -->
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="not-for-agents" type="yesno">
                                <!-- Просьба агентам не звонить. -->
                            </xs:element>
                            <xs:element name="haggle" type="yesno">
                                <!-- Торг. -->
                            </xs:element>
                            <xs:element name="mortgage" type="yesno">
                                <!-- Ипотека. -->
                            </xs:element>
                            <xs:element name="prepayment">
                                <!-- Предоплата. Указывается числовое значение в процентах без знака «%». -->
                            </xs:element>
                            <xs:element name="rent-pledge" type="yesno">
                                <!-- Залог. -->
                            </xs:element>
                            <xs:element name="agent-fee">
                                <!-- Комиссия агента. Указывается числовое значение в процентах без знака «%». -->
                            </xs:element>
                            <xs:element name="deal-status">
                                <!-- Тип сделки.
                                Возможные значения: «прямая продажа», «встречная продажа», «встречная продажа», «214 ФЗ», «переуступка».
                                Для вторичной недвижимости следует отмечать тип сделки — «прямая продажа» или «встречная продажа».
                                Внимание! Если параметр отсутствует, все объявления партнера в новостройках считаются квартирами от застройщика.
                                -->
                            </xs:element>
                            <xs:element name="with-pets" type="yesno">
                                <!-- Для аренды: можно ли с животными. -->
                            </xs:element>
                            <xs:element name="with-children" type="yesno">
                                <!-- Для аренды: можно ли с детьми. -->
                            </xs:element>
                            <!--
Дополнительная информация об условиях сделки (для коммерческой недвижимости)

Примечание. Элементы со строго ограниченным набором значений могут содержать только перечисленные варианты. Использование других значений приведет к ошибке обработки фида.
Элементы
Описание
commission
Размер комиссии для клиента в процентах.
Возможные значения: от 0 (нет комиссии) до 100 (комиссия составляет месячную арендную ставку).
security-payment
Размер обеспечительного платежа в процентах.
Возможные значения: от 0 (нет платежа) до 100 (платеж составляет месячную арендную ставку).
cleaning-included
Клининг входит в договор аренды.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
utilities-included
Коммунальные услуги включены в стоимость в договоре.
Строго ограниченные значения — «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
electricity-included
Электроэнергия включена в стоимость в договоре.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
deal-status
Тип сделки.
Возможные значения: «direct rent» (прямая аренда), «subrent» (субаренда), «sale of lease rights» (продажа права аренды).
Информация об объекте

Элементы
Описание
area*
Общая площадь. Обязательное поле для всех объявлений, кроме участков (см. элемент lot-area).
Значение и единица измерения площади передаются во вложенных тэгах:
<area>
  <value/>
  <unit/>
</area>
room-space
Площадь комнаты. Количество передаваемых тегов должно соответствовать количеству комнат.
<room-space>
   <value/>
   <unit/>
</room-space>
living-space
Жилая площадь (при продаже комнаты — площадь комнаты).
<living-space>
   <value/>
   <unit/>
</living-space>
kitchen-space
Площадь кухни.
<kitchen-space>
   <value/>
   <unit/>
</kitchen-space>
lot-area
Площадь участка.
Указывается для категорий «дом с участком» и «участок», в коммерческой недвижимости — для категории «земли коммерческого назначения» или для обозначения площади участка, прилегающего к отдельно стоящему зданию.
Примечание. Объекты площадью более 1 гектара признаются участками коммерческого назначения.
<lot-area>
   <value/>
   <unit/>
</lot-area>
value	Площадь (числовое значение).
unit
Единица площади помещения или участка. Элемент необходим, если цена указана за единицу площади.
Рекомендуемые значения: «кв. м», «sq. m».
image*
Фотография (может быть несколько тегов).
Примечание. Обязательное поле для объявлений о сдаче недвижимости в аренду.
Фотографии планировок следует передавать первым тегом image. Не следует передавать изображения, не имеющие прямого отношения к объекту (например, логотипы или фотографии сотрудников).
renovation
Ремонт.
Рекомендуемые значения: «евро», «дизайнерский», «частичный ремонт», «хороший», «с отделкой», «черновая отделка», «требует ремонта».
quality
Состояние объекта.
Рекомендуемые значения: «хорошее», «отличное», «нормальное», «плохое».
description	Дополнительная информация (описание в свободной форме).
lot-type
Тип участка.
Рекомендуемые значения: «ИЖC», «садоводство».
Пример передачи данных о площадях объекта недвижимости
Пример передачи данных о площади участка
Описание жилого помещения

Примечание. Элементы, отмеченные знаком «*», являются обязательными. Элементы со строго ограниченным набором значений могут содержать только перечисленные варианты. Использование других значений приведет к ошибке обработки фида.
Элементы
Описание
new-flat*
Обязательный параметр для новостроек: устанавливается, если квартира продается в новостройке.
Строго ограниченные значения: «да», «true», «1», «+».
rooms*
Общее количество комнат в квартире.
rooms-offered*
Для продажи и аренды комнат: указывается количество комнат, участвующих в сделке.
floor
Этаж.
open-plan
Свободная планировка.
Строго ограниченные значения — «да», «true», «1», «+».
apartments
Апартаменты.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
rooms-type
Тип комнат.
Рекомендуемые значения: «смежные», «раздельные».
phone
Наличие телефона.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
internet
Наличие интернета.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
room-furniture
Наличие мебели.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
kitchen-furniture
Наличие мебели на кухне.
Строго ограниченные значения: «да»/«нет», « true»/«false», «1»/«0», «+»/«-».
television
Наличие телевизора.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
washing-machine
Наличие стиральной машины.
Строго ограниченные значения: «да»/«нет», « true»/«false», «1»/«0», «+»/«-».
refrigerator
Наличие холодильника.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
balcony
Тип балкона.
Возможные значения: «балкон», «лоджия», «2 балкона», «2 лоджии» и т. п.
bathroom-unit
Тип санузла.
Рекомендуемые значения: «совмещенный», «раздельный», числовое значение — например «2».
floor-covering
Покрытие пола.
Рекомендуемые значения: «паркет», «ламинат», «ковролин», «линолеум».
window-view
Вид из окон.
Рекомендуемые значения: «во двор», «на улицу».
Описание нежилого помещения

Примечание. Элементы со строго ограниченным набором значений могут содержать только перечисленные варианты. Использование других значений приведет к ошибке обработки фида.
Элементы
Описание
rooms
Общее количество комнат.
floor
Этаж.
entrance-type
Вход в помещение.
Возможные значения: «separate» (отдельный), «common» (общий).
phone-lines
Количество телефонных линий.
adding-phone-on-request
Возможность добавления телефонных линий.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
internet
Наличие интернета.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
self-selection-telecom
Возможность самостоятельного выбора оператора телекоммуникационных услуг
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
room-furniture
Наличие мебели.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-», «request» (по желанию клиента).
air-conditioner
Наличие кондиционирования.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
ventilation
Наличие вентиляции.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
fire-alarm
Наличие пожарной сигнализации.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
heating-supply
Наличие отопления.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
water-supply
Наличие водопровода.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
sewerage-supply
Наличие канализации.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
electricity-supply
Наличие электроснабжения.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
electric-capacity
Выделенная электрическая мощность в кВт (указывается целое число).
gas-supply
Подключение к газовым сетям.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
floor-covering
Покрытие пола.
Рекомендуемые значения: «паркет», «ламинат», «ковролин», «линолеум».
window-view
Вид из окон.
Рекомендуемые значения: «во двор», «на улицу».
window-type
Тип окон.
Рекомендуемые значения: «витринные», «обычные», «маленькие».
Описание особенностей складских и производственных помещений

Примечание. Элементы со строго ограниченным набором значений могут содержать только перечисленные варианты. Использование других значений приведет к ошибке обработки фида.
Элементы
Описание
responsible-storage
Ответственное хранение.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
pallet-price
Стоимость палета-места в месяц в рублях с учетом налогов (в случае ответственного хранения).
freight-elevator
Наличие грузового лифта.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
truck-entrance
Возможность подъезда фуры.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
ramp
Наличие пандуса.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
railway
Наличие ветки железной дороги.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
office-warehouse
Наличие офиса на складе.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
open-area
Наличие открытой площадки.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
service-three-pl
Наличие 3PL (логистических) услуг.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
temperature-comment
Комментарий про температурный режим на складе.
Описание здания

Примечание. Элементы со строго ограниченным набором значений могут содержать только перечисленные варианты. Использование других значений приведет к ошибке обработки фида.
Элементы
Описание
floors-total
Общее количество этажей в доме (обязательный элемент для новостроек).
building-name
Название жилого комплекса (обязательное элемент для новостроек в Москве и Санкт-Петербурге).
yandex-building-id	Идентификатор жилого комплекса в базе данных Яндекса — параметр только для новостроек (обязательное поле для Москвы и Санкт-Петербурга).
Идентификатор можно получить на сервисе — из url карточки жилого комплекса.

Полный список идентификаторов yandex-building-id предоставляется по запросу на info@realty.yandex.ru.
office-class
Класс бизнес-центра.
Возможные значения: «A», «A+», «B», «B+», «C», «C+».
building-type
Тип дома.
Рекомендуемые значения: «кирпичный», «монолит», «панельный», «кирпично-монолитный», «блочный», «деревянный».
building-series
Серия дома.
building-phase
Очередь строительства.
Возможные значения: «очередь 1», «II очередь», «3» и т. п.
building-section
Корпус дома.
Возможные значения: «корпус 1», «корпус А», «дом 3» и т. п.
built-year
Год постройки, для новостроек — год сдачи (обязательный элемент для новостроек в Москве и Санкт-Петербурге).
Год необходимо указывать полностью, например, «1996», а не «96»).
ready-quarter
Для новостроек: квартал сдачи дома (обязательный элемент для новостроек в Москве и Санкт-Петербурге).
Строго ограниченные значения: «1», «2», «3», «4».
building-state
Стадия строительства дома — параметр для новостроек (обязательный элемент для Москвы и Санкт-Петербурга).
Строго ограниченные значения: «unfinished» (строится), «built» (дом построен, но не сдан), «hand-over» (сдан в эксплуатацию).
Примечание.
Если значение «built-year» и «ready-quarter» указаны в прошлом времени, для тэга «building-state» следует передавать значение «hand-over».
access-control-system
Наличие пропускной системы.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
twenty-four-seven
Возможность круглосуточного доступа сотрудников арендатора на объект аренды 7 дней в неделю.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
lift
Наличие лифта.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
rubbish-chute
Наличие мусоропровода.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
is-elite
Элитная недвижимость.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
parking
Наличие охраняемой парковки.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
parking-places
Количество предоставляемых парковочных мест.
parking-place-price
Стоимость одного парковочного места в месяц в рублях.
parking-guest
Наличие гостевых парковочных мест
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
parking-guest-places
Количество гостевых парковочных мест.
alarm
Наличие сигнализации.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
security
Наличие охраны.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
ceiling-height
Высота потолков в метрах.
eating-facilities
Наличие общепита в здании.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
Примечание. Актуально для бизнес-центров и складских комплексов.
Описание загородной недвижимости

Примечание. Элементы со строго ограниченным набором значений могут содержать только перечисленные варианты. Использование других значений приведет к ошибке обработки фида.
Элементы
Описание
pmg
Возможность для постоянного места жительства.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
water-supply
Наличие водопровода.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
sewerage-supply
Наличие канализации.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
heating-supply
Наличие отопления.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
electricity-supply
Наличие электроснабжения.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
gas-supply
Наличие подключения к газовым сетям.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
kitchen
Наличие кухни.
toilet
Расположение туалета.
Возможные значения: «в доме», «на улице».
shower
Расположение душа.
Возможные значения: «в доме», «на улице».
pool
Наличие бассейна.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
sauna
Наличие сауны/бани.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
billiard
Наличие бильярда.
Строго ограниченные значения: «да»/«нет», «true»/«false», «1»/«0», «+»/«-».
-->
                        </xs:sequence>
                        <xs:attribute name="internal-id" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
